[data-component="sea"] .side-by-side {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

[data-component="sea"] .side-by-side > * {
	flex-grow: 1;
}


[data-component="sea"] .cities {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;
	list-style: none;
	padding: 0;
}

[data-component="sea"] .duchy,
[data-component="sea"] .empire,
[data-component="sea"] .kingdom,
[data-component="sea"] .order,
[data-component="sea"] .republic {
	stroke: #000000;
	stroke-width: 0.5;
}

[data-component="sea"] .denmark {
	fill: yellow;
}

[data-component="sea"] .lithuania {
	fill: #a149a1;
}

[data-component="sea"] .norway {
	fill: #ff8f64;
}

[data-component="sea"] .nowgorod {
	fill: #e5e571;
}

[data-component="sea"] .order {
	fill: #81bccf;
}

[data-component="sea"] .pskow {
	fill: #e5b041;
}

[data-component="sea"] .roman {
	fill: #61e561;
}

[data-component="sea"] .sweden {
	fill: #d9511f;
}
