.side-by-side > * {
	flex-grow: 1;
}

.cities {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.duchy,
.empire,
.kingdom,
.order,
.republic {
	stroke: #000000;
	stroke-width: 0.5;
}

.denmark {
	fill: yellow;
}

.lithuania {
	fill: #a149a1;
}

.norway {
	fill: #ff8f64;
}

.nowgorod {
	fill: #e5e571;
}

.order {
	fill: #81bccf;
}

.pskow {
	fill: #e5b041;
}

.roman {
	fill: #61e561;
}

.sweden {
	fill: #d9511f;
}
