[data-component="tutorial"] button[data-view="docks"]::before {
	display: inline;
	content: "🛟";
}

[data-component="tutorial"] button[data-view="market"]::before {
	display: inline;
	content: "💱";
}

[data-component="tutorial"] button[data-view="sea"]::before {
	display: inline;
	content: "🗺️";
}

[data-component="tutorial"] button[data-view="warehouse"]::before {
	display: inline;
	content: "📦";
}
