html,
body {
	margin: 0;
	padding: 0;
}

main {
	display: grid;
	min-height: 95vh;
	place-items: center;
}

section {
	max-width: 60ch;
	width: 100%;
}

section:empty {
	display: none;
}

[data-component$="-section"] {
	margin-inline: 1em;
}

a {
	color: inherit;
}

p {
	margin: 0 0 1em 0;
}

.story {
	font-style: italic;
}

ul {
	list-style: none;
	padding: 0;
}

input[type="text"] {
	width: 100%;
}

select {
	width: 100%;
}

.f {
	display: flex;
	flex-wrap: wrap;
}

.fr {
	flex-direction: row;
}

.fc {
	flex-direction: column;
}

.g {
	gap: 1em;
}

button {
	background: none;
	border: none;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
}

[data-acquire]::before,
[data-action="next-month"]::before,
[data-scene]::before,
[data-view]::before {
	display: inline;
}

[data-scene="about-section"]::before {
	content: "🤔";
}

[data-scene="level-section"]::before {
	content: "⛵";
}

[data-scene="load-game-section"]::before {
	content: "📂";
}

[data-scene="new-game-section"]::before {
	content: "🆕";
}

[data-scene="settings-section"]::before {
	content: "⚙️";
}

[data-scene="title-section"]::before {
	content: "🪢";
}

[data-scene="world-section"]::before {
	content: "🗺️";
}

[data-view="docks"]::before {
	content: "🛟";
}

[data-view="market"]::before {
	content: "💱";
}

[data-view="sea"]::before {
	content: "🗺️";
}

[data-view="warehouse"]::before {
	content: "📦";
}

[data-acquire="ship"]::before {
	content: "⛵";
}

[data-acquire="warehouse-level"]::before {
	content: "🏬";
}

[data-action="next-month"]::before {
	content: "📆";
}

body {
	background: var(--bg);
	color: var(--c);
}

body.theme-light {
	--bg: #eee;
	--c: #222;
}

body.theme-dark {
	--bg: #222;
	--c: #eee;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: #eee;
		--c: #222;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: #222;
		--c: #eee;
	}
}
