html,
body {
	margin: 0;
	padding: 0;
}

main {
	display: grid;
	min-height: 95vh;
	place-items: center;
}

section {
	max-width: 60ch;
	width: 100%;
}

section:empty {
	display: none;
}

[data-component$="-section"] {
	margin-inline: 1em;
}

a {
	color: inherit;
}

p {
	margin: 0 0 1em 0;
}

.story {
	font-style: italic;
}

ul {
	padding: 0;
}

select {
	width: 100%;
}

button {
	background: none;
	border: none;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
}

button[data-scene]::before,
button[data-view]::before {
	display: inline;
}

button[data-scene="about-section"]::before {
	content: "🤔";
}

button[data-scene="level-section"]::before {
	content: "⛵";
}

button[data-scene="load-game-section"]::before {
	content: "📂";
}

button[data-scene="new-game-section"]::before {
	content: "🆕";
}

button[data-scene="settings-section"]::before {
	content: "⚙️";
}

button[data-scene="title-section"]::before {
	content: "🪢";
}

button[data-scene="world-section"]::before {
	content: "🗺️";
}

button[data-view="docks"]::before {
	content: "🛟";
}

button[data-view="market"]::before {
	content: "💱";
}

button[data-view="sea"]::before {
	content: "🗺️";
}

button[data-view="warehouse"]::before {
	content: "📦";
}

body {
	background-color: var(--background-color);
	color: var(--color);
}

body.theme-light {
	--background-color: #eee;
	--color: #222;
}

body.theme-dark {
	--background-color: #222;
	--color: #eee;
}

@media only screen and (prefers-color-scheme: light) {
	:root {
		--background-color: #eee;
		--color: #222;
	}
}

@media only screen and (prefers-color-scheme: dark) {
	:root {
		--background-color: #222;
		--color: #eee;
	}
}
