[data-component="about-section"] {
	margin-inline: 1em;
}

[data-component="about-section"] h1 {
	font-size: 4em;
	text-align: center;
}

[data-component="about-section"] p {
	font-size: 1.5em;
}

[data-component="about-section"] a {
	color: inherit;
}

[data-component="about-section"] button {
	background: none;
	border: none;
	box-shadow: none;
	font-size: 2em;
}

[data-component="about-section"] button::before {
	display: inline;
	content: "🪢";
}
