@font-face {
	font-family: Boeticher;
	src: url(boeticher.subset.woff2) format("woff2");
	font-weight: 400;
	font-display: swap;
}

[data-component="title-section"] h1 {
	font-family: Boeticher, serif;
	font-size: 4em;
	text-align: center;
}
