@font-face {
	font-family: Boeticher;
	src:	url(boeticher.subset.woff2) format("woff2"),
				url(boeticher.subset.woff) format("woff");
	font-weight: 400;
	font-display: swap;
}

[data-component="title-section"] h1 {
	font-family: Boeticher, serif;
	font-size: 4em;
	text-align: center;
}

[data-component="title-section"] .actions {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

[data-component="title-section"] .action {
	font-size: 1.5em;
}

[data-component="title-section"] [data-scene="new-game-section"]::before {
	display: inline;
	content: "🆕";
}

[data-component="title-section"] [data-scene="load-game-section"]::before {
	display: inline;
	content: "📂";
}

[data-component="title-section"] [data-scene="settings-section"]::before {
	display: inline;
	content: "⚙️";
}

[data-component="title-section"] [data-scene="about-section"]::before {
	display: inline;
	content: "🤔";
}
